body {
    font-family: Arial;
    padding: 0px;
    background: rgba(0, 0, 255, 0.3);
  }

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 255, 0.7);
  }

  .card {
    box-shadow: 0px 5px 10px 10px gray;
    background-color: rgba(70, 70, 70, 0.2);
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #aaa;
    margin-top: 20px;
  }